@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
:root{

    /* colors */
    --background: #1A1A1A;
    /* fonts */
    --body-font-mono: "JetBrains Mono", monospace;
    --body-font: "JetBrains", monospace;
}

html{
    font-family: var(--body-font);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}
form{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.form-admin{
    display: flex;
    justify-content:center;
    width: 100%;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    width: 40%;
    
}

form span{
    font-size: 30px
}

form input[type="email"],[type="password"],[type="name"],[type="number"] {
    background-color: transparent;
    border: 1px solid #CCC;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 100%;
}
form input[type="submit"]{
    width: 100%;
    background-color: var(--background);
    border: none;
    color: #fff;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    font-size: 15px;
    font-family: var(--body-font);
}